<div class="col-md-12">
  <!-- box: osebni podatki -->
  <div class="box">
    <div class="box-body">
      <h3 class="bottom-border">Dodajanje pregleda</h3>
      <div class="row">
        <div class="col-xs-12">
          <form class="form-horizontal" role="form"  ng-submit="ustvariPregled()">

            <!-- datum pregleda -->
            <div class="form-group">
              <label class="control-label col-sm-2">Datum pregleda:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" disabled ng-model="datum_pregleda">
              </div>
            </div>

            <!-- zdravnik -->
            <div class="form-group">
              <label class="control-label col-sm-2">Zdravnik:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" disabled ng-model="trenutniZdravnik">
              </div>
            </div>

            <!---->
            <div class="form-group" >
                <label class="control-label col-sm-2">Pacient:</label>
                <div class="col-sm-10">
                    <ui-select required ng-model="izbranPacient" on-select="ustvariPacienta(izbranPacient)">
                        <ui-select-match placeholder="Izberite pacienta...">{{$select.selected.ime}} {{$select.selected.priimek}}</ui-select-match>
                        <ui-select-choices repeat="pacient in pacienti">
                            <div ng-bind-html="pacient.ime">{{pacient.ime}} {{pacient.priimek}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <!-- meritve -->
            <div class="form-group">
                <label class="control-label col-sm-2">Meritve:</label>
                <div class="col-sm-10">
                    <ui-select  multiple ng-model="izbranaMeritev" on-select="ustvariMeritev(izbranaMeritev)" on-remove="ustvariMeritev(izbranaMeritev)">
                        <ui-select-match placeholder="Izberite meritev...">{{$item.tip}}</ui-select-match>
                        <ui-select-choices repeat="meritev in vrednosti_meritev | filter: $select.search track by meritev.tip">
                            <div ng-bind-html="meritev.tip | highlight: $select.search"> {{meritev.tip}} </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>


            <!-- VREDNOSTI MERITEV -->
            <div class="form-group" ng-show="prikaziGlukozo">
				<label class="control-label col-sm-2">Glukoza </label>
                <div class="col-sm-10">
                    <input type="number" ng-model="glukozaMeritev"/>
					<span> ({{glukoza.nemogoce_min}} - {{glukoza.nemogoce_max}}) {{glukoza.enota}}</span> 
                </div>
             </div>

             <div class="form-group" ng-show="prikaziKrvni">
                <label class="control-label col-sm-2">Krvni pritisk (SPODNJI):</label>
                <div class="col-sm-3">
                    <input type="number" ng-model="krvniMeritevSpodnji"/>
					<span> ({{krvni_pritisk.nemogoce_min}} - {{krvni_pritisk.nemogoce_max}}) {{krvni_pritisk.enota}}</span> 
                </div>

                <label class="control-label col-sm-2">Krvni pritisk (ZGORNJI):</label>
                <div class="col-sm-3">
                    <input type="number" ng-model="krvniMeritevZgornji"/>
					<span> ({{krvni_pritisk.nemogoce_min}} - {{krvni_pritisk.nemogoce_max}}) {{krvni_pritisk.enota}}</span> 
                </div>
             </div>

             <div class="form-group" ng-show="prikaziSrcni">
                <label class="control-label col-sm-2">Srčni utrip:</label>
                <div class="col-sm-10">
                    <input type="number"  ng-model="srcniMeritev"/>
					<span> ({{srcni_pritisk.nemogoce_min}} - {{srcni_pritisk.nemogoce_max}}) {{srcni_pritisk.enota}}</span> 
                </div>
             </div>

             <div class="form-group" ng-show="prikaziTeza">
				 <label class="control-label col-sm-2">Teža:</label>
                <div class="col-sm-10">
                    <input type="number" ng-model="tezaMeritev"/>
					<span> ({{teza.nemogoce_min}} - {{teza.nemogoce_max}}) {{teza.enota}}</span> 
                </div>
             </div>

             <div class="form-group" ng-show="prikaziTemperatura">
				 <label class="control-label col-sm-2">Telesna temperatura:</label>
                <div class="col-sm-10">
                    <input type="number" ng-model="tempMeritev"/>
					<span> ({{telesna_temperatura.nemogoce_min}} - {{telesna_temperatura.nemogoce_max}}) {{telesna_temperatura.enota}}</span> 
                </div>
             </div>


            <!-- bolezni -->
            <div class="form-group" >
                <label class="control-label col-sm-2">Bolezni:</label>
                <div class="col-sm-10">
                    <ui-select multiple ng-model="izbraneBolezni" on-select="ustvariBolezen($item)" on-remove="odstraniBolezen($item)">
                        <ui-select-match placeholder="Izberite bolezen...">{{$item.naziv}}</ui-select-match>
                        <ui-select-choices repeat="bolezen in bolezniSeznam | filter: $select.search track by bolezen.naziv">
                            <div ng-bind-html="bolezen.naziv | highlight: $select.search" > {{bolezen.naziv}} </div> <span ng-show="bolezen.alergija">      <b>ALERGIJA</b></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>


            <!-- zdravila -->
            <div class="form-group" >
                <label class="control-label col-sm-2">Zdravila:</label>
                <div class="col-sm-10">
                    <ui-select multiple ng-model="pregled.zdravilo" on-select="dodajZdravilo($item)" on-remove="odstraniZdravilo($item)">
                        <ui-select-match placeholder="Izberite zdravila...">{{$item.zdravilo}}</ui-select-match>
                        <ui-select-choices repeat="zdravilo in zdravila | filter: $select.search track by zdravilo.zdravilo">
                            <div ng-bind-html="zdravilo.zdravilo | highlight: $select.search"> {{zdravilo.zdravilo}} </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>


            <!-- dieta -->
            <div class="form-group" >
                <label class="control-label col-sm-2">Dieta:</label>
                <div class="col-sm-10">
                    <ui-select multiple ng-model="izbranaDieta" on-select="ustvariDieto(izbranaDieta)" on-remove="ustvariDieto(izbranaDieta)">
                        <ui-select-match placeholder="Izberite dieto...">{{$item.naziv}}</ui-select-match>
                        <ui-select-choices repeat="dieta in diete | filter: $select.search track by dieta.naziv">
                            <div ng-bind-html="dieta.naziv | highlight: $select.search"> {{dieta.naziv}} </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>


            <!-- opombe -->
            <div class="form-group">
              <label class="control-label col-sm-2">Opis/opombe:</label>
              <div class="col-sm-10">
                <textarea required class="form-control" rows="5" placeholder="Opombe ali opis pregleda" ng-model="opombe"></textarea>
              </div>
            </div>

            <!-- datum naslednjega
            <div class="form-group">
              <label class="control-label col-sm-2">Datum naslednjega:</label>
              <div class="col-sm-10">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-model="datum_naslednjega">
                    Datum naslednjega pregleda
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" ng-model="datum_naslednjega">
                    <li><a ng-click="pregled(null)">Pregled ni potreben</a></li>
                    <li><a href="#">Čez 1 teden</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Izberite poljuben datum ...</a></li>
                  </ul>
                </div>
              </div>
            </div>
            -->

              <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ui-sref="prijavaPregled">Prijavi na pregled</button>
              </div>
            </div>

            <!-- shrani formo -->
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Shrani</button>
              </div>
            </div>

          </form>
        </div>
        <!-- end: col-12 -->
      </div>
      <!-- end: row -->
    </div>
    <!-- end box-body -->
  </div>
  <!-- end: box -->
</div>
<!-- end: col-md-12 -->
