<div class="col-12">
<table class="table">
    <thead>
      <tr>
        <th>Številka</th>
        <th>Datum</th>
        <th>Zdravnik</th>
        <th>Bolezen</th>
        <th>Zdravilo</th>
        <!-- headerji v tabeli -->
      </tr>
    </thead>
    <tbody>
      <!-- v controllerju moreš met $scope.pregledi tabelo, kjer so noter vsi pregledi ko jih hočeš prikazat, torej moreš naredit Pregledi.ge().$promise.then() itd itd podobn ko pr men v nadzorni-->
      <tr ng-repeat="pregled in pregledi">
        <td>{{pregled.datum}}</td>
        <td>{{pregled.zdarvnik}}</td>
        <td>{{pregled.bolezen}}</td>
        <td>{{pregled.zdravilo}}</td>
        <!-- pač po istem kopitu prikazuješ naprej vse atribute ko jih rabiš prikazat, gor pa pač dodaš še naslove  -->
      </tr>
    </tbody>
  </table>
</div>