<div class="col-md-6 col-md-offset-3">
    <!-- <h2 class="naslovRegister">Vpis</h2>
    <div class="box">
        <div class="box-body">
          <form ng-class="{'has-error': red}" ng-submit="doLogin()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="uporabnik@organizacija.domena" ng-model="uporabniki.email" required="required">
            </div>
            <div class="form-group">
              <label for="password">Geslo</label>
              <input type="password" class="form-control" id="password" placeholder="Geslo" ng-model="uporabniki.geslo" required="required">
            </div>
            <button type="submit" class="btn btn-default">Prijava</button>
            <ul class="list-unstyled pull-right">
                <li><a ui-sref="register" style="cursor:pointer; color: #00a65a">Registracija</a></li>
                <li><a ui-sref="pozabljenoGeslo" style="cursor:pointer; color: #00a65a">Pozabljeno geslo</a></li>
            </ul>
          </form>
        </div>
        <hr />
      </div> -->

    <!-- OPIS APLIKACIJE IN PROJEKTA -->
      <div class="box">
        <div class="box-header with-border">
          <h1 class="box-title">Dobrodošli na strani projekta TPO informacijski sistem skupine 7.</h1>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
              <i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body">

            <p>Spletna aplikacija je rezultat dela razvojne skupine, ki so jo sestavljali:
            <strong>
              <div class="row">
                <div class="col-12">
                    <div class="col-sm-12 col-md-3 col-lg-3 text-center">
                      <h4><a href="https://www.linkedin.com/in/jernej-kozelj-99985ba3"><i class="fa fa-linkedin-square"></i> Jernej Koželj</a></h4>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 text-center">
                      <h4><a href="https://www.linkedin.com/in/rokmirt"><i class="fa fa-linkedin-square"></i> Rok Mirt</a></h4>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 text-center">
                      <h4><a href="https://www.linkedin.com/in/luka-mrak-932546101"><i class="fa fa-linkedin-square"></i> Luka Mrak</a></h4>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 text-center">
                      <h4><a href="https://www.linkedin.com/in/metod-ribi%C4%8D-3794539a"><i class="fa fa-linkedin-square"></i> Metod Ribič</a></h4>
                    </div>
                </div>
              </div>
            <!-- <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/jernej-kozelj-99985ba3">Jernej Koželj</a></li>
                <li><a href="https://www.linkedin.com/in/rokmirt">Rok Mirt</a></li>
                <li><a href="https://www.linkedin.com/in/luka-mrak-932546101">Luka Mrak</a></li>
                <li><a href="https://www.linkedin.com/in/metod-ribi%C4%8D-3794539a">Metod Ribič</a></li>
            </ul> -->
            </strong>
            </p>
            <p class="text-center">Aplikacija je nastala kot projekt pri predmetu Tehnologija programske opreme (Software engineering) 2016 na Fakulteti za računalništvo in informatiko Univerze v Ljubljani, pod vodstvom prof. dr. Viljana Mahniča in asist. dr. Marka Poženela.</p>
            <br>
            <h3 class="text-center h3pad">Aplikacija je bila izbrana med <strong>TOP 3</strong> od skupno 18. skupin s strani predstavnikov podjetja <b><a href="http://parsek.com">Parsek</a></b></h3>
            <br>
            <p>Glavni cilj razvojne skupine je bil pridobiti znanje iz tehnologij Django (oziroma <a href="http://www.django-rest-framework.org/">Django Rest Framework</a>) in <a href="http://angularjs.org">AngularJS</a>, ki jih prej nismo poznali.
            Cilj predmeta je bil razviti zdravstveni informacijski sistem, razvoj pa je moral potekati po metodologij Scrum. Za razvoj aplikacije je bilo vloženih približno <strong>300 ur</strong>.
            Pri aplikaciji ni bilo večjega poudarka na varnosti, saj to ni bil namen projekta, vsi člani skupine pa so razvijali tako <i>backend</i> kot <i>frontend</i> del aplikacije.</p>
            <br>
            <p><strong>Uporabniška imena za dostop:</strong>
              <i>
              <div class="row">
                <div class="col-12">
                  <div class="col-lg-4">
                    u: admin@admin.si
                  </div>
                  <div class="col-lg-4">
                    pw: test1234
                  </div>
                  <div class="col-lg-4">
                    role: Administrator
                  </div>
                </div>
                <div class="col-12">
                  <div class="col-lg-4">
                    u: doc@test.si
                  </div>
                  <div class="col-lg-4">
                    pw: test1234
                  </div>
                  <div class="col-lg-4">
                    role: Zdravnik
                  </div>
                </div>
                <div class="col-12">
                  <div class="col-lg-4">
                    u: sestra@test.si
                  </div>
                  <div class="col-lg-4">
                    pw: test1234
                  </div>
                  <div class="col-lg-4">
                    role: Med. sestra (nedokončano)
                  </div>
                </div>
                <div class="col-12">
                  <div class="col-lg-4">
                    u: test@test.si
                  </div>
                  <div class="col-lg-4">
                    pw: test1234
                  </div>
                  <div class="col-lg-4">
                    role: Pacient
                  </div>
                </div>
              </div>
            </i>
             <!-- <ul class="list-unstyled">
                <li>admin@admin.si - Administrator</li>
                <li>doc@test.si - Zdravnik</li>
                <li>test@test.si - Pacient</li>
                <li>sestra@test.si - Medicinsko osebje (nedokončana funkcionalnost)</li>
            </ul> -->
            </p>
            <!-- <p><strong>Geslo pa je pri vseh <i>test1234</i></strong></p> -->
        </div>
      </div>
      <h2 class="naslovRegister">Vpis</h2>
      <div class="box">
          <div class="box-body">
            <form ng-class="{'has-error': red}" ng-submit="doLogin()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="uporabnik@organizacija.domena" ng-model="uporabniki.email" required="required">
              </div>
              <div class="form-group">
                <label for="password">Geslo</label>
                <input type="password" class="form-control" id="password" placeholder="Geslo" ng-model="uporabniki.geslo" required="required">
              </div>
              <button type="submit" class="btn btn-default">Prijava</button>
              <ul class="list-unstyled pull-right">
                  <li><a ui-sref="register" style="cursor:pointer; color: #00a65a">Registracija</a></li>
                  <li><a ui-sref="pozabljenoGeslo" style="cursor:pointer; color: #00a65a">Pozabljeno geslo</a></li>
              </ul>
            </form>
          </div>
          <hr />
        </div>
</div>
