<div class="col-md-6 col-md-offset-3">
    <h2 class="naslovRegister">Vpis</h2>
    <div class="box">
        <div class="box-body">
          <form ng-class="{'has-error': red}" ng-submit="doLogin()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="uporabnik@organizacija.domena" ng-model="uporabniki.email" required="required">
            </div>
            <div class="form-group">
              <label for="password">Geslo</label>
              <input type="password" class="form-control" id="password" placeholder="Geslo" ng-model="uporabniki.geslo" required="required">
            </div>
            <button type="submit" class="btn btn-default">Prijava</button>
            <ul class="list-unstyled pull-right">
                <li><a ui-sref="register" style="cursor:pointer; color: #00a65a">Registracija</a></li>
                <li><a ui-sref="pozabljenoGeslo" style="cursor:pointer; color: #00a65a">Pozabljeno geslo</a></li>
            </ul>
          </form>
        </div>
      </div>
</div>
