  <!-- DODAJ MERITEV -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="header">Dodaj meritev</h3>

      <!-- COLLAPSE -->
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>

      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <!-- DATUM - disabled -->
        <div class="form-group margin-top-15">
            <label class="control-label col-sm-2">Datum:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled ng-model="datum">
            </div>
        </div>

        <!-- Choose type of meritev -->
        <div class="form-group margin-top-15">
            <label class="control-label col-sm-2 margin-top-15">Tip meritve:</label>
            <div class="col-sm-10 margin-top-15">
                <ui-select ng-model="$item" on-select="izberiMeritev($item)">
                    <ui-select-match placeholder="Izberite meritev...">{{$item.tip}}</ui-select-match>
                    <ui-select-choices repeat="meritev in vrednosti_meritev | filter: $select.search track by meritev.tip">
                        <div ng-bind-html="meritev.tip | highlight: $select.search"> {{meritev.tip}} </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!-- FORM MERITEV -->
        <form name="form-temperatura" ng-submit="saveMeritev()">
          <div class="form-group margin-top-15" ng-hide="izbranaMeritev.tip == 'Krvni pritisk'">
            <label class="control-label col-sm-2 margin-top-15">Vrednost meritve:</label>
            <div class="col-sm-10 margin-top-15">
              <input id="vrednost" type="text" ng-model="vrednostMeritve"/> &nbsp;{{izbranaMeritev.enota}}
            </div>
          </div>

          <!-- forma za krvni pritisk -->
          <div class="form-group margin-top-15" ng-show="izbranaMeritev.tip == 'Krvni pritisk'">
            <label class="control-label col-sm-2 margin-top-15">Vrednost meritve:</label>
            <div class="col-sm-10 margin-top-15">
              <input id="sistolicni" type="text"  placeholder="sistolični" ng-model="vrednostMeritveSistolicni"/> /
              <input id="diastolicni" type="text"  placeholder="diastolični" ng-model="vrednostMeritveDiastolicni"/> &nbsp;{{izbranaMeritev.enota}}
            </div>

            <!-- utrip  -->
            <label class="control-label col-sm-2 margin-top-15">Utrip:</label>
            <div class="col-sm-10 margin-top-15">
              <input id="utrip" type="text" ng-model="vrednostMeritveUtrip" />&nbsp;BPM
            </div>
          </div>

          <button type="submit" class="btn btn-success pull-right margin-15">Shrani</button>
          <button type="reset" class="btn btn-default pull-right margin-15" ng-click="resetForm()">Pobriši</button>
        </form>

    </div>
  </div>


<!-- LIST MERITEV -->
<div class="box">
    <div class="box-body">
        <div class="col-12">
            <h3 class="bottom-border header">Meritve</h3>

            <div class="center-listPregledov" ng-show="pregledi.length == 0">
              <h4>Na voljo ni nobene meritve!</h4>
            </div>

            <table class="table table-stripped table-hover" ng-show="meritve.length != 0">
                <thead>
                    <tr>
                      <th></th>
                      <th>Datum</th>
                      <th>Tip meritve</th>
                      <th>Normalne vrednosti</th>
                      <th>Vrednost meritve</th>
                      <th>Briši/Spremeni</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="meritev in meritve track by $index" >
                      <td ui-sref="meritevPodrobno({id:meritev.id})"><i class="fa fa-search" style="cursor:pointer"></i></td>
                      <td>{{meritev.datum | date:'dd.MM.yyyy, HH:mm'}}</td>
                      <td>{{meritev.tip_meritve.tip}}</td>
                      <td>od {{meritev.tip_meritve.normalno_min}} do {{meritev.tip_meritve.normalno_max}}</td>
                      <td>
                        <span ng-attr-id="{{'a'+$index}}"><b>{{meritev.vrednost_meritve}}</b></span>
                        <input ng-attr-id="{{'b'+$index}}" type="text" ng-model="meritev.vrednost_meritve" style="visibility: hidden"/>
                      </td>
                      <!-- <td ng-class="{ 'red-meritev': meritev.tip_meritve.normalno_min > meritev.vrednost_meritve || meritev.tip_meritve.normalno_max < meritev.vrednost_meritve}"><b>{{meritev.vrednost_meritve}}</b></td> -->
                      <td>
                        <!-- Button za brisat -->
                        <button type="button" class="btn btn-default btn-xs" ng-click="deleteMeritev(meritev.id)" ng-attr-id="{{'brisi'+$index}}">
                          <span class="fa fa-trash" aria-hidden="true"></span> Briši
                        </button>

                        <!-- button za spreminjat -->
                        <button type="button" class="btn btn-default btn-xs" ng-click="urediMeritev($index, meritev)" ng-attr-id="{{'spremeni'+$index}}">
                          <span class="fa fa-pencil" aria-hidden="true"></span> Spremeni
                        </button>

                        <!-- button za shranit spremembe  -->
                        <button type="button" class="btn btn-default btn-xs" ng-attr-id="{{'shrani'+$index}}" style="visibility: hidden" ng-click="preveriSpremenjenoVrednost(meritev, $index)">
                          <span class="fa fa-floppy-o" aria-hidden="true"></span> Shrani
                        </button>

                        <!-- button za preklicat spremembe -->
                        <button type="button" class="btn btn-default btn-xs" ng-attr-id="{{'preklici'+$index}}" style="visibility: hidden" ng-click="prekliciUrejanje($index)">
                          <span class="fa fa-ban" aria-hidden="true"></span> Prekliči
                        </button>
                      </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
