<div class="col-md-12">
  <!-- box: osebni podatki -->
  <div class="box">

    <!-- /.box-header -->
    <div class="box-body">
        <!-- IZBIRA PACIENTA -->
        <div ng-show="omogociIzbiranjePacienta" >

            <div class="form-group" >
                    <label for="pacie">
                        <h3 class="bottom-border header">Pacienti</h3>
                    </label>
                    <ui-select ng-disabled="jeZdravnik.nimaPac" id="pacie" ng-model="uporabnikZdravnika" on-select="posodobiPacienta(uporabnikZdravnika)" >
                        <ui-select-match placeholder="{{ jeZdravnik.placeholderBes }}"   >
                            {{ uporabnikZdravnika.ime }} {{ uporabnikZdravnika.priimek }}
                        </ui-select-match>
                        <ui-select-choices repeat="o in mojiPacienti | filter:$select.search ">
                            {{ o.ime }} {{ o.priimek }} ({{o.email}})
                        </ui-select-choices>
                    </ui-select>
            </div>

        </div>

        <div ng-show="izbranPacient">
      <h3 class="bottom-border header">Osebni podatki</h3>
      <div class="row">

        <div class="col-md-4">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover">
            <thead>
              <tr>
                <td>
                  <b><i class="fa fa-user">&nbsp;</i>Moji podatki</b>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Ime:</b></td>
                <td>{{uporabnik.ime}}</td>
              </tr>
              <tr>
                <td><b>Priimek:</b></td>
                <td>{{uporabnik.priimek}}</td>
              </tr>
              <tr ng-show="uporabnik.personalizacija.datum_rojstva != false">
                <td><b>Datum rojstva:</b></td>
                <td>{{uporabnik.datum_rojstva | date: 'dd.MM.yyyy'}}</td>
              </tr>
              <tr ng-show="uporabnik.personalizacija.kraj_rojstva != false">
                <td><b>Kraj rojstva:</b></td>
                <td>{{uporabnik.kraj_rojstva}}</td>
              </tr>
              <tr ng-show="uporabnik.personalizacija.naslov != false">
                <td><b>Naslov:</b></td>
                <td>
                  {{uporabnik.naslov}}<br>&nbsp;
                  {{uporabnik.posta.id}}&nbsp;
                  {{uporabnik.posta.kraj}}
                </td>
              </tr>
              <tr ng-show="uporabnik.personalizacija.stevilka_zzzs != false">
                <td><b>Številka ZZZS</b></td>
                <td>{{uporabnik.st_zzzs}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover" ng-show="uporabnik.personalizacija.zdravnik != false">
            <thead>
              <tr>
                <td>
                  <b><i class="fa fa-user-md">&nbsp;</i>Osebni zdravnik</b>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Ime:</b></td>
                <td>{{osebniZdravnik.ime}}</td>
              </tr>
              <tr>
                <td><b>Priimek:</b></td>
                <td>{{osebniZdravnik.priimek}}</td>
              </tr>
              <tr>
                <td><b>Specializacija</b></td>
                <td>{{osebniZdravnik.naziv}}</td>
              </tr>
              <tr>
                <td><b>Ustanova</b></td>
                <td>{{osebniZdravnik.ambulanta.ustanova.naziv}}</td>
              </tr>
              <tr>
                <td><b>Ambulanta</b></td>
                <td>{{osebniZdravnik.ambulanta.naziv}}</td>
              </tr>
              <tr>
                <td><b>Naslov:</b></td>
                <td>{{osebniZdravnik.ambulanta.ustanova.naslov}}&nbsp;<br>
                    {{osebniZdravnik.ambulanta.posta.id}}&nbsp;
                    {{osebniZdravnik.ambulanta.posta.kraj}}
                </td>
              </tr>
              <tr>
                <td><b>Osebje</b></td>
                <td>
                  <span ng-repeat = "sestra in osebniZdravnik.medicinske_sestre">
                    {{sestra.ime}}&nbsp;
                    {{sestra.priimek}}
                    <br>
                  </span>
                  <span ng-show="osebniZdravnik.medicinske_sestre.length == 0">/</span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover" ng-show="uporabnik.personalizacija.zobozdravnik != false">
            <thead>
              <tr>
                <td>
                  <b><i class="fa fa-user-md"></i>&nbsp;Osebni zobozdravnik</b>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Ime:</b></td>
                <td>{{osebniZobozdravnik.ime}}</td>
              </tr>
              <tr>
                <td><b>Priimek:</b></td>
                <td>{{osebniZobozdravnik.priimek}}</td>
              </tr>
              <tr>
                <td><b>Specializacija</b></td>
                <td>{{osebniZobozdravnik.naziv}}</td>
              </tr>
              <tr>
                <td><b>Ustanova</b></td>
                <td>{{osebniZobozdravnik.ambulanta.ustanova.naziv}}</td>
              </tr>
              <tr>
                <td><b>Ambulanta</b></td>
                <td>{{osebniZobozdravnik.ambulanta.naziv}}</td>
              </tr>
              <tr>
                <td><b>Naslov:</b></td>
                <td>{{osebniZobozdravnik.ambulanta.ustanova.naslov}}&nbsp;<br>
                    {{osebniZobozdravnik.ambulanta.posta.id}}&nbsp;
                    {{osebniZobozdravnik.ambulanta.posta.kraj}}
                </td>
              </tr>
              <tr>
                <td><b>Osebje</b></td>
                <td>
                  <span ng-repeat = "sestra in osebniZobozdravnik.medicinske_sestre">
                    {{sestra.ime}}&nbsp;
                    {{sestra.priimek}}
                    <br>
                  </span>
                  <span ng-show="osebniZobozdravnik.medicinske_sestre.length == 0">/</span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- /.col -->

      </div>
      <!-- /.row -->

      <!-- TABELA PREGLEDOV -->
      <div class="col-12" ng-hide="uporPersonal.pregledi == 0">
        <h3 class="bottom-border header">Zadnji pregledi</h3>
        <!-- TABLE: OSEBNI PODATKI -->
        <div class="center" ng-show="pregledi.length == 0">
          <h4>Na voljo ni nobenega pregleda!</h4>
        </div>

              <table ng-table="tableParPregledi" class="table" ng-show="pregledi.length != 0" >
                  <tr class="col-12" ng-repeat="pregled in $data" >
                      <td ui-sref="pregledPodrobno({id:pregled.id})"><i class="fa fa-search" style="cursor:pointer"></i></td>
                      <td title="'Datum pregleda'" >{{pregled.datum | date:'dd.MM.yyyy'}}</td>
                      <td title="'Opombe'" >{{okrajsaj(pregled.opombe, 120)}}</td>
                      <td title="'Zdravnik'" >{{pregled.zdravnik.ime}} {{pregled.zdravnik.priimek}}</td>
                      <td title="'Bolezni'" >

                <span ng-repeat="bolezen in pregled.bolezen">
                    - {{okrajsaj(bolezen.naziv,30)}} <span ng-show="bolezen.alergija"><i>(Alergija)</i></span><br>
                </span>
                <span ng-show="pregled.bolezen.length == 0">/</span>
                      </td>
                      <td title="'Zdravilo'" >

                <span ng-repeat="zdravilo in pregled.zdravilo | limitTo: 4">
                    - {{zdravilo.zdravilo}}<br>
                </span>
                <span ng-show="pregled.zdravilo.length == 0">/</span>
                <span ng-show="pregled.zdravilo.length > 4">- ...</span>
                      </td>
                      <td title="'Dieta'" >

                <span ng-repeat="dieta in pregled.dieta | limitTo: 4">
                    - {{dieta.naziv}} <br>
                </span>
                <span ng-show="pregled.dieta.length == 0">/</span>
                <span ng-show="pregled.dieta.length > 4">- ...</span>
                      </td>


                      <td title="'Datum naslednjega pregleda'" >

                <span ng-show="pregled.datum_naslednjega != null">{{pregled.datum_naslednjega | date: 'dd.MM.yyyy, hh:mm'}}</span>
                <span ng-show="pregled.datum_naslednjega.length == null">Ponoven pregled ni potreben!</span>
                      </td>
                  </tr>
              </table>


      </div>

      <!-- TABELA MERITEV -->
      <div class="col-12" ng-hide="uporPersonal.meritve == 0">
        <h3 class="bottom-border header">Zadnje meritve</h3>
        <div class="center" ng-show="meritve.length == 0">
          <h4>Na voljo ni nobene meritve!</h4>
        </div>
        <!-- TABLE: OSEBNI PODATKI -->

              <table ng-table="tableParMeritve" class="table" show-filter="true" ng-show="meritve.length != 0">
                  <tr class="col-12" ng-repeat="meritev in $data" >

                <td ui-sref="meritevPodrobno({id:meritev.id})"><i class="fa fa-search" style="cursor:pointer"></i></td>
                      <td class="col-1" title="'Datum'" sortable="'datum'" >{{meritev.datum | date:'dd.MM.yyyy, HH:mm'}}</td>
                      <td class="col-4" title="'Tip meritve'" filter="{tipMeritveTip:'text'}" >{{meritev.tip_meritve.tip}}</td>
                      <td class="col-6" title="'Šifra meritve'" filter="{tipMeritveSifra:'text'}" >{{meritev.tip_meritve.sifra}}</td>
                      <td class="col-1" title="'Vrednost meritve'" >
                          <b>{{meritev.vrednost_meritve}}</b>&nbsp;
                <i>(Normalno med: {{meritev.tip_meritve.normalno_min}} in {{meritev.tip_meritve.normalno_max}})</i>
                      </td>
                  </tr>
              </table>
      </div>

      <!-- TABELA BOLEZNI IN ALERGIJE -->
      <div class="col-12" ng-hide="uporPersonal.bolezni == 0">
        <h3 class="bottom-border header">Bolezni in alergije</h3>

        <div class="center" ng-show="bolezni.length == 0">
          <h4>Na voljo ni nobene bolezni!</h4>
        </div>

              <table ng-table="tableParBolezni" class="table" ng-show="bolezni.length != 0" >
                  <tr class="col-12" ng-repeat="bolezen in $data" >

                      <td class="col-1" title="'mkb10'" >{{bolezen.mkb10}}</td>
                      <td class="col-4" title="'Naziv'" >{{bolezen.naziv}}</td>
                      <td class="col-6" title="'Zdravila'"  >
                          <span ng-repeat="zdravilo in bolezen.zdravilo ">
                              <span>{{zdravilo.zdravilo}}, </span>
                          </span>
                      </td>
                      <td class="col-1" title="'Alergija'" >
                          <i ng-show="bolezen.alergija" class="fa fa-check"></i>
                          <i ng-show="!bolezen.alergija" class="fa fa-times"></i>
                      </td>
                  </tr>
              </table>
      </div>

      <!-- TABELA: ZDRAVIL IN DIET -->
      <div class="col-md-12" ng-hide="uporPersonal.zdravila == 0">
          <h3 class="bottom-border header">Zdravila in diete</h3>
          <div class="row">
          <div class="center" ng-show="zdravila.length == 0">
            <h4>Na voljo ni nobenega zdravila!</h4>
          </div>

        <!-- /.col -->


            <!-- new table: for ZDRAVILA -->

          <div class="col-md-6" ng-show="zdravila.length != 0">
              <table ng-table="tablePar" class="table"  >
                  <tr ng-repeat="zdravilo in $data " >
                      <td title="'Zdravilo'"  >{{zdravilo.zdravilo}}</td>
                      <td title="'Navodilo'" ><a ng-href="{{zdravilo.navodila}}" > {{okrajsaj(zdravilo.navodila, 30)}} </a></td>
                  </tr>
              </table>

          </div>

          <div class="col-md-6" ng-show="zdravila.length != 0">
              <table ng-table="tableParDieta" class="table " id="tabelcaUpor">
                  <tr ng-repeat="dieta in $data" >
                      <td class="col-3" title="'Naziv'"  >{{dieta.naziv}}</td>
                      <td class="col-1" title="'Šifra'" >{{dieta.sifra}}</td>
                      <td class="col-8" title="'Navodilo'" >
                          <!--{{ dieta.navodila }}-->
                          <span ng-repeat="navodilo in dieta.navodila">
                              <a ng-href="{{navodilo.url}}">{{okrajsaj(navodilo.url, 30)}}</a>
                              <br>
                          </span>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
    <!-- /.row -->

        </div>
    </div>
    <!-- ./box-body -->
  </div>
  <!-- /.box -->
</div>
