<div class="col-md-12">
  <!-- box: osebni podatki -->
  <div class="box">
    <!-- <div class="box-header with-border">
      <h3 class="box-title">Osnovni podatki</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>

      </div>
    </div> -->
    <!-- /.box-header -->
    <div class="box-body">
        <!-- IZBIRA PACIENTA -->
        <div ng-show="omogociIzbiranjePacienta" >

            <div class="form-group" >
                    <label for="pacie">Pacienti</label>
                    <ui-select id="pacie" ng-model="uporabnikZdravnika" on-select="posodobiPacienta(uporabnikZdravnika)" >
                        <ui-select-match placeholder="Izberite pacienta..."  >
                            {{ uporabnikZdravnika.ime }} {{ uporabnikZdravnika.priimek }}
                        </ui-select-match>
                        <ui-select-choices repeat="o in mojiPacienti | filter:$select.search">
                            {{ o.ime }} {{ o.priimek }} ({{o.email}})
                        </ui-select-choices>
                    </ui-select>
            </div>

        </div>

        <div ng-show="izbranPacient">
      <h3 class="bottom-border header">Osebni podatki</h3>
      <div class="row">

        <div class="col-md-4">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover">
            <thead>
              <tr>
                <td>
                  <b><i class="fa fa-user">&nbsp;</i>Moji podatki</b>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Ime:</b></td>
                <td>{{uporabnik.ime}}</td>
              </tr>
              <tr>
                <td><b>Priimek:</b></td>
                <td>{{uporabnik.priimek}}</td>
              </tr>
              <tr>
                <td><b>Datum rojstva:</b></td>
                <td>{{uporabnik.datum_rojstva | date: 'dd.MM.yyyy'}}</td>
              </tr>
              <tr>
                <td><b>Kraj rojstva:</b></td>
                <td>{{uporabnik.kraj_rojstva}}</td>
              </tr>
              <tr>
                <td><b>Naslov:</b></td>
                <td>
                  {{uporabnik.naslov}}<br>&nbsp;
                  {{uporabnik.posta.id}}&nbsp;
                  {{uporabnik.posta.kraj}}
                </td>
              </tr>
              <tr>
                <td><b>Številka ZZZS</b></td>
                <td>{{uporabnik.st_zzzs}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover">
            <thead>
              <tr>
                <td>
                  <b><i class="fa fa-user-md">&nbsp;</i>Osebni zdravnik</b>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Ime:</b></td>
                <td>{{osebniZdravnik.ime}}</td>
              </tr>
              <tr>
                <td><b>Priimek:</b></td>
                <td>{{osebniZdravnik.priimek}}</td>
              </tr>
              <tr>
                <td><b>Specializacija</b></td>
                <td>{{osebniZdravnik.naziv}}</td>
              </tr>
              <tr>
                <td><b>Ustanova</b></td>
                <td>{{osebniZdravnik.ambulanta.ustanova.naziv}}</td>
              </tr>
              <tr>
                <td><b>Ambulanta</b></td>
                <td>{{osebniZdravnik.ambulanta.naziv}}</td>
              </tr>
              <tr>
                <td><b>Naslov:</b></td>
                <td>{{osebniZdravnik.ambulanta.ustanova.naslov}}&nbsp;<br>
                    {{osebniZdravnik.ambulanta.posta.id}}&nbsp;
                    {{osebniZdravnik.ambulanta.posta.kraj}}
                </td>
              </tr>
              <tr>
                <td><b>Osebje</b></td>
                <td>
                  <span ng-repeat = "sestra in osebniZdravnik.medicinske_sestre">
                    {{sestra.ime}}&nbsp;
                    {{sestra.priimek}}
                    <br>
                  </span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover">
            <thead>
              <tr>
                <td>
                  <b><i class="fa fa-user-md"></i>&nbsp;Osebni zobozdravnik</b>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Ime:</b></td>
                <td>{{osebniZobozdravnik.ime}}</td>
              </tr>
              <tr>
                <td><b>Priimek:</b></td>
                <td>{{osebniZobozdravnik.priimek}}</td>
              </tr>
              <tr>
                <td><b>Specializacija</b></td>
                <td>{{osebniZobozdravnik.naziv}}</td>
              </tr>
              <tr>
                <td><b>Ustanova</b></td>
                <td>{{osebniZobozdravnik.ambulanta.ustanova.naziv}}</td>
              </tr>
              <tr>
                <td><b>Ambulanta</b></td>
                <td>{{osebniZobozdravnik.ambulanta.naziv}}</td>
              </tr>
              <tr>
                <td><b>Naslov:</b></td>
                <td>{{osebniZobozdravnik.ambulanta.ustanova.naslov}}&nbsp;<br>
                    {{osebniZobozdravnik.ambulanta.posta.id}}&nbsp;
                    {{osebniZobozdravnik.ambulanta.posta.kraj}}
                </td>
              </tr>
              <tr>
                <td><b>Osebje</b></td>
                <td>
                  <span ng-repeat = "sestra in osebniZobozdravnik.medicinske_sestre">
                    {{sestra.ime}}&nbsp;
                    {{sestra.priimek}}
                    <br>
                  </span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- /.col -->

      </div>
      <!-- /.row -->

      <!-- TABELA PREGLEDOV -->
      <div class="col-12">
        <h3 class="bottom-border header">Zadnji pregledi</h3>
        <!-- TABLE: OSEBNI PODATKI -->
        <div class="center" ng-show="pregledi.length == 0">
          <h4>Na voljo ni nobenega pregleda!</h4>
        </div>
        <table class="table table-striped" ng-show="pregledi.length != 0">
          <thead>
            <tr>
              <th></th>
              <th>Datum pregleda</th>
              <th>Opombe</th>
              <th>Zdravnik</th>
              <th>Bolezni</th>
              <th>Zdravilo</th>
              <th>Dieta</th>
              <th>Datum naslednjega pregleda</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pregled in pregledi" >
              <td ui-sref="pregledPodrobno({id:pregled.id})"><i class="fa fa-search" style="cursor:pointer"></i></td>
              <td>{{pregled.datum | date:'dd.MM.yyyy'}}</td>
              <td>{{pregled.opombe}}</td>
              <td>{{pregled.zdravnik.ime}} {{pregled.zdravnik.priimek}}</td>
              <td>
                <span ng-repeat="bolezen in pregled.bolezen">
                    {{bolezen.mkb10}} <span ng-show="bolezen.alergija"><i>(Alergija)</i></span>
                </span>
                <span ng-show="pregled.bolezen.length == 0">/</span>
              </td>
              <td>
                <span ng-repeat="zdravilo in pregled.zdravilo">
                    {{zdravilo.zdravilo}}
                </span>
                <span ng-show="pregled.zdravilo.length == 0">/</span>
              </td>
              <td>
                <span ng-repeat="dieta in pregled.dieta">
                    {{dieta.naziv}} <br>
                </span>
                <span ng-show="pregled.dieta.length == 0">/</span>
              </td>
              <td>
                <span ng-show="pregled.datum_naslednjega != null">{{pregled.datum_naslednjega}}</span>
                <span ng-show="pregled.datum_naslednjega.length == null">Ponoven pregled ni potreben!</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABELA MERITEV -->
      <div class="col-12">
        <h3 class="bottom-border header">Zadnje meritve</h3>
        <div class="center" ng-show="meritve.length == 0">
          <h4>Na voljo ni nobene meritve!</h4>
        </div>
        <!-- TABLE: OSEBNI PODATKI -->
        <table class="table table-striped" ng-show="meritve.length != 0">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Tip meritve</th>
              <th>Šifra meritve</th>
              <th>Vrednost meritve</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="meritev in meritve">
              <td ui-sref="#">{{meritev.datum | date:'dd.MM.yyyy, HH:mm'}}</td>
              <td>{{meritev.tip_meritve.tip}}</td>
              <td>{{meritev.tip_meritve.sifra}}</td>
              <td>
                <b>{{meritev.vrednost_meritve}}</b>&nbsp;
                <i>(Normalno med: {{meritev.tip_meritve.normalno_min}} in {{meritev.tip_meritve.normalno_max}})</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABELA BOLEZNI IN ALERGIJE -->
      <div class="col-12">
        <h3 class="bottom-border header">Bolezni in alergije</h3>
        <div class="center" ng-show="bolezni.length == 0">
          <h4>Na voljo ni nobene bolezni!</h4>
        </div>
        <!-- TABLE: OSEBNI PODATKI -->
        <table class="table table-striped" ng-show="bolezni.length != 0">
          <thead>
            <tr class="col-12">
              <th class="col-1">mkb10</th>
              <th class="col-4">Naziv</th>
              <th class="col-6">Zdravila</th>
              <th class="col-1">Alergija</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bolezen in bolezni" class="col-12">
              <td class="col-1" >{{bolezen.mkb10}}</td>
              <td class="col-4" ui-sref="#">{{bolezen.naziv}}</td>
              <td class="col-6">
                <span ng-repeat="zdravilo in bolezen.zdravilo">
                  <span>{{zdravilo.zdravilo}}, </span>
                </span>
              </td>
              <td class="col-1" >
                <i ng-show="bolezen.alergija" class="fa fa-check"></i>
                <i ng-show="!bolezen.alergija" class="fa fa-times"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABELA: ZDRAVIL IN DIET -->
      <h3 class="bottom-border header">Zdravila in diete</h3>
      <div class="row">

        <div class="col-md-6">
          <div class="center" ng-show="zdravila.length == 0">
            <h4>Na voljo ni nobenega zdravila!</h4>
          </div>
          <!-- TABLE: ZDRAVILA  -->
          <table class="table table-striped" ng-show="zdravila.length != 0">
            <thead>
              <tr>
                <th>Zdravilo</th>
                <th>Navodilo</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="zdravilo in zdravila">
                <td>{{zdravilo.zdravilo}}</td>
                <td><a ng-href="{{zdravilo.navodila}}">{{okrajsaj(zdravilo.navodila)}}</a></td>
              </tr><!-- okrajsaj -->
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <div class="center" ng-show="diete.length == 0">
            <h4>Na voljo ni nobene diete!</h4>
          </div>
          <!-- TABLE: DIETA -->
          <table class="table table-striped" ng-show="diete.length != 0">
            <thead>
              <tr>
                <th class="col-3">Naziv</th>
                <th class="col-1">Šifra</th>
                <th class="col-8">Navodilo</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dieta in diete">
                <td class="col-3">{{dieta.naziv}}</td>
                <td class="col-1">{{dieta.sifra}}</td>
                <td class="col-8">
                  <span ng-repeat="navodilo in dieta.navodila">
                    <a ng-href="{{navodilo.url}}">{{okrajsaj(navodilo.url)}}</a>
                    <br><!--okrajsaj-->
                  </span>

                  <!-- <ul ng-repeat="navodilo in dieta.navodila" style="list-style-type:none">
                    <li><a ng-href="{{navodilo.url}}">{{okrajsaj(navodilo.url)}}</a></li>
                  </ul> -->
                </td>
                <!-- <td ng-href="{{dieta.url}}">{{dieta.url}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->

      </div>
      <!-- /.row -->



        </div>
    </div>
    <!-- ./box-body -->
  </div>
  <!-- /.box -->
</div>
