


<div class="box">

    <div class="box-body" >
        <h3 class="bottom-border header">Seznam novih uporabnikov
            <ul class="list-inline pull-right">
                <li><a class="fa fa-file-text-o" aria-hidden="true" href="" ng-click="showPdf()" style="cursor:pointer; color: #00a65a"></a></li>

                <li><a class="fa fa-floppy-o" aria-hidden="true" href="" ng-click="shraniPdf()" style="cursor:pointer; color: #00a65a"></a></li>
            </ul>
        </h3>

        <div class="col-md-6 ">
            <div class="col-md-3 " >
                <label class="pull-left" style="color: #00a65a; margin-top: 4%">Začetek: </label>
                <ng-datepicker class="pull-right" ng-model="chart.start" ng-change="naloziDatumInReload()"
                               locale="sl" format="DD.MM.YYYY" view-format="DD.MM.YYYY"></ng-datepicker>
            </div>
            <div class="col-md-3">
                <label class="pull-left" style="color: #00a65a; margin-top: 4%">Konec: </label>
                <ng-datepicker class="pull-right" ng-model="chart.end" ng-change="naloziDatumInReload()"
                               locale="sl" format="DD.MM.YYYY" view-format="DD.MM.YYYY" ></ng-datepicker>

                <span style="color:red" ng-show="errDatumEnd" >Izberite datum, ki je za začetnim.</span>
            </div>
        </div>
        <br><br>
        <br><br>

        <!-- /.col -->
        <div class="col-md-10 pull-right">
            <nvd3 options="options" data="data"></nvd3>
        </div>

        <div class="row" >
            <div class="col-md-12">

                <table ng-table="tablePar" class="table" show-filter="true" id="tabelcaUpor">
                    <tr ng-repeat="u in $data track by $index" >
                        <td>{{ ((tableSet.perPage-1)*tableSet.perCou) + $index+1 }}</td>
                        <td title="'Uporabniško ime'" sortable="'username'" filter="{username:'text'}" >{{u.username}}</td>
                        <td title="'Ime'" sortable="'ime'" filter="{ime:'text'}" >
                            <div ng-hide="u.ime.length > 0">/</div>
                            <div ng-show="u.ime.length >= 1">{{u.ime}}</div>
                        </td>
                        <td title="'Priimek'" sortable="'priimek'" filter="{priimek:'text'}" >
                            <div ng-hide="u.priimek.length > 0">/</div>
                            <div ng-show="u.priimek.length >= 1">{{u.priimek}}</div>
                        </td>
                        <td title="'Uporabniška vloga'" sortable="'role.naziv'" filter="{'uporVloga':'text'}">{{u.role.naziv}}</td>
                        <td title="'Datum registracije'" sortable="'date_joined'" >
                            <div ng-show="u.date_joined == null">/</div>
                            <div ng-show="u.date_joined != null">{{u.date_joined | date:'dd.MM.yyyy'}}</div>
                        </td>
                        <td title="'Zadnji dostop'" sortable="'last_login'"  >
                            <div ng-show="u.last_login == null">/</div>
                            <div ng-show="u.last_login != null ">{{u.last_login | date:'dd.MM.yyyy'}}</div>
                        </td>
                        <td title="'Aktiviran'" sortable="'is_acitve'" >
                            <div ng-show="u.is_active == 0">Ne</div>
                            <div ng-show="u.is_active == 1">Da</div>
                        </td>
                    </tr>
                </table>

                <div class="center" ng-show="niPacientov">
                    <h3>Na voljo ni uporabnikov!</h3>
                </div>

            </div>
        </div>
    </div>

</div>


