


<div class="box">

    <div class="box-body" >
        <h3 class="bottom-border header">Uporabniki brez profila</h3>
        <ul class="list-unstyled">
            <li><a href="" ng-click="showPdf()" style="cursor:pointer; color: #00a65a">Prikaži pdf</a></li>
            <li><a href="" ng-click="shraniPdf()" style="cursor:pointer; color: #00a65a">Shrani pdf</a></li>
        </ul>

        <div class="row">
            <div class="col-md-12">

                <table ng-table="tablePar" class="table" show-filter="true" id="tabelcaUpor">
                    <tr ng-repeat="u in $data track by $index ">
                        <td>{{ ((tableSet.perPage-1)*tableSet.perCou) + $index+1 }}</td>
                        <td title="'Uporabniško ime'" sortable="username" filter="{username:'text'}" >{{u.username}}</td>
                        <td title="'Ime'" sortable="'ime'" filter="{ime:'text'}" >{{u.ime}}</td>
                        <td title="'Priimek'" sortable="'priimek'" filter="{priimek:'text'}" >{{u.priimek}}</td>
                        <td title="'Uporabniška vloga'" sortable="'role.naziv'" >{{u.role.naziv}}</td>
                        <td title="'Datum registracije'" sortable="'date_joined'" >{{u.date_joined | date:'dd.MM.yyyy'}}</td>
                        <td title="'Zadnji dostop'" sortable="'last_login'" >{{u.last_login | date:'dd.MM.yyyy'}}</td>
                        <td title="'Aktiviran'" sortable="'is_acitve'" >
                            <div ng-show="u.is_active == 0">Ne</div>
                            <div ng-show="u.is_active == 1">Da</div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</div>


