<div class="col-md-10">
  <!-- box: osebni podatki -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Podatki o pregledu</h3>

      <!-- COLLAPSE -->
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>

      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover">
            <thead>
              <tr>
                <td>
                  <b class="fa fa-stethoscope"><i class="fa fa-user">&nbsp;</i>PREGLED</b>
                </td>
              </tr>
            </thead>
            <tbody>
              <!-- v controllerju moreš met $scope.pregledi tabelo, kjer so noter vsi pregledi ko jih hočeš prikazat, torej moreš naredit Pregledi.ge().$promise.then() itd itd podobn ko pr men v nadzorni-->
              <tr>
                <td><b>Zdravnik:</b></td>
                <td>{{pregled.bolezen}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- ./box-body -->
  </div>
  <!-- /.box -->
</div>
