<div class="col-md-10">
  <!-- box: osebni podatki -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Podatki o pregledu</h3>

      <!-- COLLAPSE -->
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>

      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover">
            <thead>
              <tr>
                <td>
                  <b class="fa fa-stethoscope"><i class="fa fa-user">&nbsp;</i>PREGLED</b>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Datum pregleda:</b></td>
                <td>4.5.2016</td>
              </tr>
              <tr>
                <td><b>Ime zdravnika:</b></td>
                <td>Metod Ribič</td>
              </tr>
              <tr>
                <td><b>Rezultati meritev:</b></td>
                <td>uspešno</td>
              </tr>
              <tr>
                <td><b>Ugotovljene bolezni:</b></td>
                <td>Lenoba</td>
              </tr>
              <tr>
                <td><b>Ugotovljene alergije:</b></td>
                <td>Alergija na pršice</td>
              </tr>
              <tr>
                <td><b>Predpisana zdravila:</b></td>
                <td>Persen</td>
              </tr>
              <tr>
                <td><b>Predpisana dieta:</b></td>
                <td>Ketonska</td>
              </tr>
              <tr>
                <td><b>Datum naslednjega pregleda:</b></td>
                <td>17.5.2016</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- ./box-body -->
  </div>
  <!-- /.box -->
</div>
