<div class="col-md-12">

  <!-- OSEBNI PODATKI -->
  <div class="box">
    <div class="box-body">
      <h3 class="bottom-border header">Uporabniški profil</h3>
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form" ng-submit="shrani_spremembe_pacient()" ng-if="tipUporabnika !='Zdravnik'">

            <!-- Ime uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Ime:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.ime" required>
              </div>
            </div>

            <!-- Priimek uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Priimek:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.priimek" required>
              </div>
            </div>

            <!-- Spol -->
            <div class="form-group">
                <label class="control-label col-sm-2">Spol</label>
                <div class="col-sm-10">
                  <select class="form-control col-10" id="dropdownSpol" ng-model = "uporabnik.spol" required>
                    <option value="Moški">Moški</option>
                    <option value="Ženski">Ženski</option>
                  </select>
                </div>
            </div>
            {{$rootScope.uporabnik.kontaktna_oseba.id}}

            <!-- Datum rojstva uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Datum rojstva:</label>
              <div class="col-sm-10">
                <!-- <input type="date" data-date="" data-date-format="DD.MM.YYYY" class="form-control" ng-model="uporabnik.datum_rojstva"> -->
                <ng-datepicker ng-model="uporabnik.datum_rojstva" locale="sl" format="DD.MM.YYYY" view-format="DD.MM.YYYY" required></ng-datepicker>
                <!-- <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" /> -->
              </div>
            </div>

            <!-- Kraj rojstba uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Kraj rojstva:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.kraj_rojstva" required>
              </div>
            </div>

            <!-- Naslov uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Naslov prebivališča:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.naslov" required>
              </div>
            </div>

            <!-- Poštna številka uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Poštna številka:</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" ng-blur="pridobi_ime_poste('pacient')" ng-model="uporabnik.posta.id" required>
              </div>
              <div class="col-sm-5">
                <input type="text" disabled class="form-control" ng-model = "uporabnik.posta.kraj">
              </div>
            </div>

            <!-- ZZZS št. uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">ZZZS številka:</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" ng-model = "uporabnik.st_zzzs" required>
              </div>
            </div>

            <!-- Telefonska številka uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Telefonska številka:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.telefon" required>
              </div>
            </div>


            <button class="btn btn-default pull-right">Shrani spremembe</button>
          </form>

          <!-- ############################################### ZDRAVNIK ########################################################################## -->

          <form class="form-horizontal" role="form" ng-submit="shrani_spremembe_zdravnik()" ng-if="tipUporabnika=='Zdravnik'">

            <!-- SIFRA -->
            <div class="form-group">
              <label class="control-label col-sm-2">Šifra zdravnika:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.sifra.sifra" disabled>
              </div>
            </div>

            <!-- Ime uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Ime:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.ime" required>
              </div>
            </div>

            <!-- Priimek uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Priimek:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.priimek" required>
              </div>
            </div>


            <!-- Telefonska številka uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Telefonska številka:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.telefon" required>
              </div>
            </div>

            <!-- ZDRAVNIKOVI FIELDI -->

            <!-- email -->
            <div class="form-group">
              <label class="control-label col-sm-2">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" ng-model = "uporabnik.email" required>
              </div>
            </div>

            <!-- sifra -->
            <div class="form-group">
              <label class="control-label col-sm-2">Sprejema paciente:</label>
              <div class="col-sm-3">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="radioBtn1" value="true" ng-checked="uporabnik.sprejema_paciente" ng-click="hideNumber(false)"> Da
                </label>

                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="radioBtn2" value="false" ng-checked="!uporabnik.sprejema_paciente" ng-click="hideNumber(true)"> Ne
                </label>
              </div>

              <div class="col-sm-7">
                <label class="control-label col-sm-3">Prosta mesta:</label>
                <div class="col-sm-9" style="padding-right: 0">
                  <input type="number" id="prostaMesta" class="form-control" ng-model = "uporabnik.prosta_mesta" ng-disabled="!uporabnik.sprejema_paciente" required>
                </div>
              </div>
            </div>


            <!-- Ustanova -->
            <div class="form-group" ng-show="tipUporabnika=='Zdravnik'">
              <label class="control-label col-sm-2">Šifra ustanove:</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" ng-blur="pridobi_ustanovo()" ng-model="uporabnik.ustanova.id" required>
              </div>
              <div class="col-sm-5">
                <input type="text" disabled class="form-control" ng-model = "uporabnik.ustanova.naziv" required>
              </div>
            </div>
            <button class="btn btn-default pull-right">Shrani spremembe</button>
          </form>






          <br>
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->
    </div> <!-- end box  body-->
  </div> <!-- end box -->

  <!-- PODATKI O KONTAKTNI OSEBI -->
  <div class="box" ng-if="tipUporabnika!='Zdravnik'">
    <div class="box-body">
      <h3 class="bottom-border header">Podatki o kontaktni osebi</h3>
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form" ng-submit="shrani_kontaktno()">

            <!-- Ime uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Ime:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.kontaktna_oseba.ime" required>
              </div>
            </div>

            <!-- Priimek uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Priimek:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.kontaktna_oseba.priimek" required>
              </div>
            </div>

            <!-- Naslov -->
            <div class="form-group">
              <label class="control-label col-sm-2">Naslov:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.kontaktna_oseba.naslov" required>
              </div>
            </div>

            <!-- Poštna številka uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Poštna številka:</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" ng-blur="pridobi_ime_poste('sorodnik')" ng-model="uporabnik.kontaktna_oseba.posta.id" required>
              </div>
              <div class="col-sm-5">
                <input type="text" disabled class="form-control" ng-model = "uporabnik.kontaktna_oseba.posta.kraj">
              </div>
            </div>

            <!-- Priimek uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Sorodstveno razmerje:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.kontaktna_oseba.sorodstveno_razmerje" required>
              </div>
            </div>

            <!-- Priimek uporabnika -->
            <div class="form-group">
              <label class="control-label col-sm-2">Telefon:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model = "uporabnik.kontaktna_oseba.telefon" required>
              </div>
            </div>

            <button class="btn btn-default pull-right">Shrani spremembe</button>
          </form>
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->
    </div> <!-- end box body -->
  </div> <!-- end box -->

  <!-- SPREMENI ZDRAVNIKA -->
  <div class="box" ng-show="tipUporabnika==='Pacient'">
    <div class="box-body">
      <h3 class="bottom-border header">Spremba osebnega (zobo)zdravnika</h3>
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form" ng-submit="menjavaZdravnikov()">

            <!-- Trenutni zdravnik -->
            <div class="form-group">
              <label class="control-label col-sm-2">Osebni zdravnik:</label>
              <div class="col-sm-10">
	              <ui-select ng-model="izbrani.zdravnik" on-select="changeZdravnik($item, $model)">
		              <ui-select-match allow-clear="true" placeholder="<Ni izbranega zdravnika>">
			              <span ng-bind="$select.selected"></span>
		              </ui-select-match>
		              <ui-select-choices repeat="zdravnik in (zdravniki | filter: $select.search)">
						  <span>{{zdravnik.ime}} {{zdravnik.priimek}} {{zdravnik.naziv}} ({{zdravnik.sifra.sifra}})</span>
		              </ui-select-choices>
	              </ui-select>
              </div>
            </div>

            <!-- Osebni zobozdravnik -->
            <div class="form-group">
              <label class="control-label col-sm-2">Osebni zobozdravnik:</label>
              <div class="col-sm-10">
	              <ui-select ng-model="izbrani.zobozdravnik" on-select="changeZobozdravnik($item, $model)">
					  <ui-select-match allow-clear="true" placeholder="<Ni izbranega zobozdravnika>">
			              <span ng-bind="$select.selected"></span>
		              </ui-select-match>
		              <ui-select-choices repeat="zdravnik in (zobozdravniki | filter: $select.search)">
			              <span>{{zdravnik.ime}} {{zdravnik.priimek}} {{zdravnik.naziv}} ({{zdravnik.sifra.sifra}})</span>
		              </ui-select-choices>
	              </ui-select>
              </div>
            </div>
            <button type="submit" class="btn btn-default pull-right">Shrani spremembe</button>
          </form>
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->
    </div> <!-- end box body -->
  </div> <!-- end box -->

  <!-- PERSONALIZACIJA -->
  <div class="box" ng-show="tipUporabnika==='Pacient'">
    <div class="box-body">
      <h3 class="bottom-border header">Personalizacija</h3>
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form" ng-submit="personalizacija(forma)">

            <!-- Osebni podatki -->
            <div class="form-group pull-left col-md-3">
              <label class="col-sm-12">Osebni podatki:</label>
              <div class="col-sm-10">
                <input type="checkbox" ng-model="forma.datum_rojstva"/> Prikaži datum rojstva
              </div>
              <div class="col-sm-10">
                <input type="checkbox" ng-model="forma.kraj_rojstva"/> Prikaži kraj rojstva
              </div>
              <div class="col-sm-10">
                <input type="checkbox" ng-model="forma.naslov"/> Prikaži naslov
              </div>
              <div class="col-sm-10">
                <input type="checkbox" ng-model="forma.stevilka_zzzs"/> Prikaži številko ZZZS
              </div>
            </div>
            <div class="form-group pull-left col-md-3">
              <label class="col-sm-12">Zdravniki:</label>
              <div class="col-sm-12">
                <input type="checkbox" ng-model="forma.zdravnik"/> Prikaži zdravnika
              </div>
              <div class="col-sm-12">
                <input type="checkbox" ng-model="forma.zobozdravnik"/> Prikaži zobozdravnika
              </div>
            </div>
            <div class="form-group pull-left col-md-3">

              <div class="col-sm-12">
                  Prikaži izbrano število pregledov
                <input type="number" class="form-control" min="0" class="col-sm-1" ng-model="forma.pregledi"/>
              </div>

              <div class="col-sm-12" style="margin-top: 5%">
                  Prikaži izbrano število meritev
                <input type="number" class="form-control"  min="0" class="col-sm-1" ng-model="forma.meritve"/>
              </div>
            </div>
            <div class="form-group pull-left col-md-3">
              <div class="col-sm-12">
                  Prikaži izbrano število bolezni
                  <input type="number" class="form-control"  min="0" class="col-sm-1" ng-model="forma.bolezni"/>
              </div>
              <div class="col-sm-12" style="margin-top: 5%">
                  Prikaži izbrano število zdravil
                <input type="number" class="form-control"  min="0" class="col-sm-1" ng-model="forma.zdravila"/>
              </div>
            </div>
            <div style="clear:both">
                <button type="submit" class="btn btn-default pull-right">Shrani spremembe</button>
            </div>
          </form>
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->
    </div> <!-- end box body -->
  </div> <!-- end box -->

  <!-- SPREMENI GESLO -->
  <div class="box">
    <div class="box-body">
      <h3 class="bottom-border header">Spremeni geslo</h3>
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form" ng-submit="changePassword(user)">

            <!-- Trenutno geslo -->
            <div class="form-group">
              <label class="control-label col-sm-2">Trenutno geslo:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="currentpass" ng-model="user.oldpass" required="required">
              </div>
            </div>

            <!-- Novo geslo -->
            <div class="form-group">
              <label class="control-label col-sm-2">Novo geslo:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ng-class = "{'has-error': red}" id="newpass" ng-model="user.newpass" required="required">
              </div>
            </div>

            <!-- Povnovi geslo -->
            <div class="form-group">
              <label class="control-label col-sm-2">Ponovite geslo:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ng-class = "{'has-error': red}" id="newpass2" ng-model="user.newpass2" required="required">
              </div>
            </div>
            <button type="submit" class="btn btn-default pull-right">Spremeni geslo</button>
          </form>
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->
    </div> <!-- end box body -->
  </div> <!-- end box -->
  <!-- IZBRISI ACCOUNT -->
  <div class="box">
    <div class="box-body">
      <h3 class="bottom-border header">Izbriši račun</h3>
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form" ng-submit="deleteAccount()">
              <div class="form-group">
              <label class="control-label col-sm-2">Vnesite geslo:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ng-class = "{'has-error': red}" id="newpass" ng-model="passwordConfirm" required>
              </div>
              </div>
            <button type="submit" class="btn btn-danger pull-right">Izbriši račun</button>
          </form>
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->
    </div> <!-- end box body -->
  </div> <!-- end box -->

  <div style="clear: both"></div>
</div>
