
<div class="col-md-6 col-md-offset-3" xmlns="http://www.w3.org/1999/html">

    <div class="box">
        <div class="box-body">
          <h3 class="bottom-border header">Dodaj osebje</h3>
            <form ng-submit="shraniU()">
                <!-- Required fields -->

                <div class="form-group">
                    <label for="email">Poklic <b style="color:red" >*</b></label>
                    <select class="form-control" id="dropdown" ng-model="mojSelect" ng-change="showSelectValue(mojSelect)" >
                      <option value="Zdravnik">Zdravnik</option>
                      <option value="Medicinska sestra">Medicinska sestra</option>
                    </select>
                </div>

                <!-- SIFRA IZ SIFRANTOV -->
                <div class="form-group"  >
                    <label for="sifra">Šifra <b style="color:red" >*</b></label>
                    <select required class="form-control" id="sifra" ng-model="uporabniki.sif" >
                        <option value="">Izberite šifro</option>
                        <option  required="required" ng-repeat="sif in sifrantReg | filter:{is_used:false}" value="{{ sif.sifra }}" >{{sif.sifra}}</option>
                    </select>
                    <span style="color:red" ng-show="errSifraZdravnik" >Izberite šifro.</span>
                </div>

                <div class="form-group" >
                    <label for="email">Email <b style="color:red" >*</b></label>
                    <input type="email" class="form-control" id="email" placeholder="uporabnik@organizacija.domena" ng-model="uporabniki.email" required="required">
                    <span style="color:red" ng-show="errEmail" >Uporabnik s tem email naslovom že obstaja!</span>
                </div>
                <div class="form-group" >
                    <label for="password">Geslo <b style="color:red" >*</b></label>
                    <input type="password" class="form-control" id="password" placeholder="Geslo" ng-model="uporabniki.password" required="required">
                    <span style="color:red" ng-show="errPassw" >Izberite boljše geslo! Geslo mora biti dolžine 8, vsaj 1 številko!</span>
                </div>

                <!-- Optional fields -->
                <div ng-hide="hiddenElements" >

                    <!-- IME -->
                    <div class="form-group">
                        <label for="ime">Ime</label>
                        <input type="text" class="form-control" id="ime" placeholder="Janko" ng-model="uporabniki.ime"  >
                        <span style="color:red" ng-show="errIme" >Ime lahko ima samo črke, vsaj 3, največ 21.</span>
                    </div>

                    <!-- PRIIMEK -->
                    <div class="form-group" >
                        <label for="priimek">Priimek</label>
                        <input type="text" class="form-control" id="priimek" placeholder="Novak" ng-model="uporabniki.priimek" >
                        <span style="color:red" ng-show="errPrii" >Priimek lahko ima samo črke, vsaj 3, največ 21.</span>
                    </div>

                    <!-- TELEFONSKA ŠTEVILKA -->
                    <div class="form-group">
                        <label for="stevilka">Telefonska številka</label>
                        <input type="text" class="form-control" id="stevilka" placeholder="031654321" ng-model="uporabniki.stevilka" >
                        <span style="color:red" ng-show="errStevilka" >Številka lahko ima samo številke, vsaj 9, največ 15.</span>
                    </div>

                    <!-- ZDRAVNIK -->
                    <div ng-hide="jeZdravnik" >

                        <!-- SPREJEMA PACIENTE BOOL -->
                        <div class="form-group">
                            <label>Sprejema paciente?
                                <div class="radio">
                                    <label for="radioSprejemaP1" >
                                        <input type="radio" name="radioSprejemaPaci" id="radioSprejemaP1" value="1" ng-model="uporabniki.sprejemaPaciente" >
                                        Da
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="radioSprejemaP2">
                                        <input type="radio" name="radioSprejemaPaci" id="radioSprejemaP2" value="0" ng-model="uporabniki.sprejemaPaciente" >
                                        Ne
                                    </label>
                                </div>
                            </label><br>
                            <span style="color:red" ng-show="errSprejemaPac" >Označite če zdravnik sprejema paciente ali ne!</span>
                        </div>

                        <!-- ŠTEVILO PACIENTOV, KI JIH SPREJME  ng-show="uporabniki.sprejemaPaciente" -->
                        <div class="form-group" >
                            <label for="prostaMesta">Število pacientov, ki jih sprejema</label>
                            <input type="number" class="form-control" id="prostaMesta" placeholder="10" ng-model="uporabniki.prostaMesta" >
                            <span style="color:red" ng-show="errProstaMesta" >Vnesite število prostih mest.</span>
                        </div>

                        <!-- NAZIV -->
                        <div class="form-group">
                            <label for="naziv">Naziv</label>
                            <input type="text" class="form-control" id="naziv" placeholder="Dr. Medicine" ng-model="uporabniki.naziv" >
                            <span style="color:red" ng-show="errNaziv" >Vnesite naziv.</span>
                        </div>

                        <!-- TIP -->
                        <div class="form-group">
                            <label for="tip">Tip</label>
                            <select class="form-control" id="tip" ng-model="uporabniki.tip" ng-change="changedTip(uporabniki.tip)" >
                                <option value="osebni">Zdravnik</option>
                                <option value="zobozdravnik">Zobozdravnik</option>
                            </select>
                            <span style="color:red" ng-show="errTip" >Izberite tip zdravnika.</span>
                        </div>

                        <!-- AMBULANTA -->
                        <div class="form-group">
                            <label for="ambulantaId">Ambulanta</label>
                            <select class="form-control" id="ambulantaId" ng-model="uporabniki.izbranaAmbulanta" ng-change="changedAmbulanta(uporabniki.izbranaAmbulanta)" >
                              <option ng-repeat="a in ambulanta" value="{{ a.url }}">{{a.naziv}}, {{ a.naslov }} </option>
                            </select>
                            <span style="color:red" ng-show="errAmbulanta" >Izberite ambulanto.</span>
                        </div>

                        <!-- IZBIRA MEDICINSKE SESTRE -->
                        <div class="form-group">
                            <label for="medSestre">Medicinske sestre</label>
                            <select class="form-control" id="medSestre" ng-model="uporabniki.izbranaSestra" ng-change="changedNurse(uporabniki.izbranaSestra)" >
                              <option ng-repeat="o in osebje" value="{{ o.username }}" >{{o.ime}} {{ o.priimek }} ({{ o.username }})</option>
                            </select>
                            <span style="color:red" ng-show="errMedSes" >Izberite medicinsko sestro zdravnika.</span>
                        </div>


                    </div>


                    <!-- USTANOVA -->
                    <div class="form-group">
                        <label for="ustanovaId">Ustanova</label>
                        <select class="form-control" id="ustanovaId" ng-model="uporabniki.izbranaUstanova"  >
                          <option ng-repeat="u in ustanova" value="{{ u.url }}">{{u.naziv}}, {{ u.naslov }} </option>
                        </select>
                        <span style="color:red" ng-show="errUstanova" >Izberite Ustanovo.</span>
                    </div>


                </div>


                <div class="form-group">
                    <button type="button" class="btn btn-default pull-right" ng-click="showHideExtras()">
                        Dodatno
                    </button>
                </div>

                <button type="submit" class="btn btn-default">Prijava</button>
            </form>


        </div>
    </div>

</div>
