<div class="col-md-6">
  <!-- box: osebni podatki -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Uporabniški račun</h3>

      <!-- COLLAPSE -->
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>

      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <!-- TABLE: OSEBNI PODATKI -->
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><b>Ime:</b></td>
                <td>Doe</td>
              </tr>
              <tr>
                <td><b>Priimek:</b></td>
                <td>Moe</td>
              </tr>
              <tr>
                <td><b>Datum rojstva:</b></td>
                <td>12.3.1992</td>
              </tr>
              <tr>
                <td><b>Kraj rojstva:</b></td>
                <td>Celje</td>
              </tr>
              <tr>
                <td><b>Naslov:</b></td>
                <td>Tržaška cesta 64, 1000 Ljubljana</td>
              </tr>
              <tr>
                <td><b>Številka ZZZS</b></td>
                <td>04184942829</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- ./box-body -->
  </div>
  <!-- /.box -->
</div>
