$default-green: #00A65A;

.header{
  color: $default-green;
}

.bottom-border{
  border-bottom: 1pt solid #D2D6DE;
  margin-bottom: 2%;
  padding-bottom: 1%;
}

.naslovRegister{
  color: $default-green;
}

.listTableRow:hover{
  cursor: pointer;
}

.ui-select-backgorund{
  background-color: #FFFFFF !important;
}

.center {
    margin: auto;
    width: 25%;
    padding: 10px;
    color: #CCCCCC;
}

.center-listPregledov {
    margin: auto;
    width: 50%;
    padding-left: 12%;
    color: #CCCCCC;
}

.padding-top-7{
      padding-top: 7px;
}

// Overide ng datpicker style to match bootstrap
.ng-datepicker-input{
  display: block;
  width: 100% !important;
  height: 34px;
  padding: 6px 12px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #D2D6DE;
}

.ng-datepicker > .calendar > span > span.day:hover {
	background: $default-green !important;
	color: #fff;
}

.izbiraOskrbovanca {
    color: #aaa;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 0.5em;
    margin-bottom: 1em;
}

.pointer {
  cursor: pointer;
}

.margin-lr-15{
  margin-left: 15px;
  margin-right: 15px;
}

.margin-15{
  margin: 15px;
}

.margin-top-15{
  margin-top: 15px;
}

.red-meritev {
  color: #cc0000;
}
.ng-table th {
  text-align: left !important;
  color:black !important;
}

.pagination > .active > a {
  background-color: $default-green;
  border-color: $default-green;

  &:hover{
    background-color: $default-green;
    border-color: $default-green;
  }
}
