$default-green: #00A65A;

.header{
  color: $default-green;
}

.bottom-border{
  border-bottom: 1pt solid #D2D6DE;
  margin-bottom: 2%;
  padding-bottom: 1%;
}

.naslovRegister{
  color: $default-green;
}

.listTableRow:hover{
  cursor: pointer;
}

.ui-select-backgorund{
  background-color: #FFFFFF !important;
}

.center {
    margin: auto;
    width: 25%;
    padding: 10px;
    color: #CCCCCC;
}

.padding-top-7{
      padding-top: 7px;
}
